body {
  padding-top: 40px;
  padding-bottom: 30px;
  /*background: #2E4053;*/
  /* background: #D5D8DC */
  /* background: #AED6F1 */
  /*background: #5D6D7E*/
  /* background: #3A1E1A */
  /* background: #543B36 */
  /* background: #614A45 */
  /* background: #78605B */
  /* background: #967C76 */
  /* background: #A38F8B */
  /*background: #A9CEEB;*/
  background: #C3DAF4;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


#header {
	/* background: #ffffff;
	 padding: 190px 0px 290px 0px;
	 background-image:url("images/dicta_header.jpg");
	 background-position:center;
	 width:1172px;
	 height:485x;
	 margin-left: -120px;
	 margin-top: -40px;
	 background-repeat: no-repeat;
	 background-size: 80% 80% */
	padding: 10px 10px;
	margin-bottom: -10px;
}
#header h1 {
	margin: 0;
	padding: 10px 0;
}

#main {
	float: center;
	width: 100%;
	font-size: 15px;
	background-color: #FFF;
 	position:relative;
	margin:0 auto;
}

.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
h1 {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	color: #3A1E1A;
}
h2 {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: #3A1E1A;
}
h3 {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	color: #3A1E1A;
}
h4 {

	color: #3A1E1A;
}
h5 {
	color: #3A1E1A;
}
h6{
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: 		#3A1E1A;
}

p {
	font-family:arial,helvetica,sans-serif;
}
#footer h1 {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 12px;
}

a {
	font-weight: normal;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/*
.navbar-default {
    background-color: #111111;
    border-color: #21110f;
}*/
.navbar-default {
  background-color: #0D2742 !important; /* Dark blue - force override */
  border-color: #002244 !important;
  background-image: none !important; /* Remove Bootstrap gradient */
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff; /* White text */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #dddddd; /* Lighter on hover */
    background-color: #004488;
}

.navbar-default .navbar-brand {
    color: #ffffff; /* White brand text */
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #dddddd;
}

.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #004488;
}

.news-para {
	margin-top: 1px;
	margin-bottom: 3px;
}
#map {
	width: 100%;
	height: 100%;
}

#footer {
	clear: both;
	display: block;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
}

#news {
	border: 2px solid #CDCDCD;
	border-radius: 15px;
	background-color: #3399FF;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	height: 440px;
	width: 100%;
	float: middle;
}

#newscontent {
	overflow-y: auto;
	height: 350px;
	color: #FFFFFF;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

#newscontent a:link { color: #000000; }
#newscontent a:visited { color: #000000; }
#newscontent a:hover { color: #000000; }
#newscontent a:active { color: #000000; }

#maincontent {
	width: 97%;
	margin: 1.5% 1.5%;
	padding-bottom: 10px;
	float: center;
	font-size: 15px;
	background-color: #FFF;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
.table > tbody > tr > td {
     vertical-align: middle;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #3366FF url("images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	opacity: 0.6;
}
